/* selector {
    property: value;

    gap, justify-content and align-items only work when you display as flex or grid
} */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

html, body{
    scroll-behavior: smooth;
}

/* This removes all the decoration(underline) from all anchor tags */
a{
    text-decoration: none;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:floralwhite;
    padding: 16px 70px; 
}

nav a{
    color: #242D52;
}

nav ul{
    display: flex;
    gap: 50px;
    list-style: none;
}
 
button{
    all: unset;
    background-color: rgb(217, 100, 41);
    color: rgba(255, 255, 255, 0.911);
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
}



main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 70px;
}

main img{
    width: 45%;
}

main div{
    width: 45%;
}

main div h1{
    font-size: 40px;
    color: #040404;
    padding: 20px 0;
}

main div p{
    font-size:20px ;
    padding: 20px 0;
}

button{
    all: unset;
    background-color: rgb(217, 100, 41);
    color: rgba(255, 255, 255, 0.911);
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
}


#about{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 50px 30px;
}

#about h1{
    font-weight: 400;
    margin-bottom: 20px;
    color: rgb(4, 4, 68);
    font-size: 30px;
    
}

.about-header{
    width: 40%;
}

#about .about-header h1{
    font-size: 40px;
}
.about-header p{
    font-size: 18px;
    line-height: 1.5;
}


#about .about-contents{
    margin-left: 60px;
    width: 50%;
    line-height: 1.5;
    font-size: 17px;
}

.content-head h2{
    margin-left: 20px;
}

.content-head{
    display: flex;
    margin-bottom: 3px;
    align-items: flex-start;
}

.content-head p{
    background-color: #F25F3A;
    border-radius: 20px;
    padding: 7px 20px;
    color: white;
}

.about-contents .vision{
 margin-left: 80px;
 margin-bottom: 50px;
}

#image-holder .WHAT{
width: 100%;
font-size: 45px ;
text-align: center;
margin-top: 80px;
   }

.functions {
    display: flex;
    gap: 40px;
    padding: 50px 30px; 
    margin-top: 60px;
}

.functions img{
    width: 25%;
}
 .functions h2{
    font-size: 20px;
 }

 .functions div{
    text-align: center;
 }


 .main-button{
    width: auto;
    margin: 5% auto 0;
    display: block;
}
 

.simple{
    margin-top: 7%;
    display: flex;
    align-items: first baseline;
    justify-content: space-between;
    background: #F25F3A;
    color: white;
    
}

.simple h1{
    font-size: 40px;
    width: 35%;
    line-height: 3.0rem;

}
.simple button{
margin-right: 8%;
background: white;
color: #F25F3A;
}

.simple h1{
margin: 7%;
}


footer{
    background-color: #1D1E25;
    padding:80px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: #ffff;
}

footer .pdd ul{
    display: flex;
    align-items: center;
    margin-top: 3rem;
    gap: 20px;
    font-size: 24px;
}


footer .items{
    display: flex;
    gap: 100px;
    color: white;
}

footer a{
    color: #ffff;
}

footer ul{
    list-style: none;
}

.victor{
    display: block;
    align-items: center;
}

.victor li{
    margin-bottom: 20px;
}

.vic li{
    margin-bottom: 20px
}

footer div p{
    margin-top: 60px;
}

.items a{
    color: white;
}

footer img{
    /* padding: 80px 0px; */
    
}

.input{
    all: unset;
    border-radius: 50px;
    border: 1px solid gray;
    color: #000;
    background-color: #FFEFEB;
    padding: 9px 9px;
}

.togglers{
     display: none; 
}

.owl-carousel .owl-item img{
    width: 40%;
    margin: 10px auto;
}

.owl-nav{
    display: none;
}

.owl-dots{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.owl-dot{
    background-color: #F25F3A;
    border-radius: 50%;
    padding: 5px;
    margin: 5px;
    /* display: ; */
}

.owl-dot.active{
    background-color: gray;
}

.ri-arrow-up-s-line{
    position: fixed;
    font-size: 20px;
    border-radius: 50%;
    z-index: 1;
    padding: 5px;
    right: 20px;
    bottom: 20px;
    background-color: #F25F3A;
    color: #ffff;
}

@media screen and (max-width:992px){
    main div h1 {
        font-size: 35px;
    }
    

    
    main img{
        margin-bottom: 80px;
    }
    #about .about-header h1{
        font-size: 29px;
        font-weight: 700;
    }

    .about-contents .vision {
        margin-bottom: 40px;
    }

    #image-holder .WHAT {
        font-size: 25px;
    }

    .content-head h2 {
      font-size: 20px;
    }

    .simple h1{
        font-size: 24px;
    }

    footer{
        padding: 40px;
    }
}

@media screen and (max-width: 768px) {
    main{
        padding: 50px 30px;
        align-items: flex-start;
    }

    nav{
        padding: 15px 30px;
    }
    nav button{
  display: none;
    }
    
    main div h1{
        font-size: 25px;
    }

    main div p {
        font-size: 18px;
    }

main img{
    width: 50%;
}
    .functions{
        font-size: 16px;
    }

    .input{
        padding: 6px 6px;
    }

    footer .items{
        gap: 20px;
    }

    footer {
        padding: 40px;
    }
}


@media screen and (max-width: 576px){
    
.togglers{
    display: block;
    font-size: 22px;
}

.ri-close-fill{
    display: none;
}

nav ul{
    position: fixed;
    top: -40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    border-radius: 10px;
    text-align: center;
    width: 60%;
    padding: 2rem 0;
    background-color: antiquewhite;
    border: 1px solid gray;
    flex-direction: column;
    transition: .5s;
}

main{
    align-items: center;
    flex-direction: column-reverse;
}

main img{
    width: 95%;
}

main div{
    width: 95%;
    text-align: center;
}

main div h1{
    font-size: 29px;
}

main div p{
    font-size: 18px;
}

#about{
    flex-direction: column;
    
}

.about-header{
    width: 90%;
    text-align: center;
}

#about .about-contents{
    margin-top: 4rem;
    margin-left: 0;
    width: 100%;
}

.about-contents .vision{
    margin-left: 0;
    margin-top: 10px;
}

.content-head{
    align-items: center;
    background-color: #FFEFEB;
}

.content-head h2{
    font-size: 18px;
}
.simple h1{
    font-size: 30px;
    width: 80%;
    text-align: center;
}
.simple{
    flex-direction: column;
    padding-bottom: 2rem;
    align-items: center;
}
footer{
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
  
footer .items{
    gap: 50px;
}

footer img{
    width: 95%;
}

}

@media screen and (max-width: 375px){
    main img{
        width: 100%;
    }

    main div h1{
        font-size: 26px;
    }

    #about .about-header h1{
        font-size: 25px;
    }

    .about-header p{
        font-size: 14px;
    }

    .content-head h2{
        font-size: 17px;
        margin-left: 9px;
    }

    .about-contents .vision{
        font-size: 14px;
    }

    .simple h1{
        font-size: 20px;
        line-height: 1.5;
    }

    .simple button{
        margin-left: 20px;
    }
}